body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    transition: box-shadow .5s;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #3d405b;
    color: #f4f1de;
    border-bottom: 6px solid #d8cefe;
    border-radius: 5px 5px 0px 0px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    box-shadow: 0px 12px 10px #d5c6e0;
    animation-name: bounce;
    animation-timing-function: ease-in;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(16px);}
    100% {transform: translateY(0);}
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
